html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw; /* Maximum width is 100% of the viewport width */
    /*max-height: 100vh; /* Maximum height is 100% of the viewport height */
    /*overflow: hidden; /* Hide any content that exceeds the maximum width or height */
    overflow-x: hidden;
}
