.button {
    width: 50px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: transparent;
    position: relative;
    color: #593C4E;
    font-size: 40px;
    font-weight: 600;
}


.restartText {
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.2s;
}

.restartText:hover {
    color: #ff9900;
}

.circularLeft{
    position: relative;
    overflow: hidden;

    rotate: -90deg;
}
.circularRight{
    position: relative;
    overflow: hidden;

    rotate: 90deg;
}
.circularUp{
    position: relative;
    overflow: hidden;

    rotate: 0deg;

}
.circularDown{
    position: relative;
    overflow: hidden;

    rotate: 180deg;
}

.background {
    background-color: #9b8975;
    width: 100%;
    height: 100%;
    position: absolute;
}

.winnerBanner {

    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.winnerText {
    color: #cdc1a9;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.winnerText2 {
    color: #cdc1a9;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(7px); /* Adjust this value to control the intensity of the blur */

}
.game {
    width: 50%;
    text-align: center;
}


.gameField {
    margin: auto;
    position: relative;
    z-index: 1;
}

.pageContent {
    flex: 1;
    overflow: auto;
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;


}


.tile {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: visible;
    box-sizing: border-box;
    margin: -5px 5px 5px -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.player{
    background-color: #593C4E;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}

.wall {
    background-color: black;
    position: absolute;
}

.reached{
    background-color: #593C4E;
    width: 20px;
    height: 20px;
    position: absolute;
}


.topWall {
    background-color: #2D3E50;
    width: 100%;
    height: 7px;
    top: -5px;
    border-radius: 20px;
}

.bottomWall {
    background-color: #2D3E50;
    width: 100%;
    height: 7px;
    bottom: -5px;
    border-radius: 20px;
}

.leftWall {
    background-color: #2D3E50;
    width: 7px;
    height: 100%;
    left: -5px;
    border-radius: 20px;
}

.rightWall {
    background-color: #2D3E50;
    width: 7px;
    height: 100%;
    right: -5px;
    border-radius: 30px;
}

.fieldFrame{
    border: 3px solid #000;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    background-color: #eee;
}

@media (min-width: 768px) {
    .game {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .game {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .game {
        width: 50%;
    }
}


.arrowButtons {
    display: inline-block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;

}

.row{
    flex-direction: column;
}

.restartText{
    font-size: 30px;
    color: rgba(239, 203, 203, 0.1);
}

.round {
    position: relative;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;

}
.roundWest{
    rotate: 180deg;
}
.roundNorth{
    rotate: 270deg;
}
.roundSouth{
    rotate: 90deg;
}

.cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.cta .arrow {
    left: 30%;
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 15px;
}



.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}


.segunda {
    margin-left: 8px;
}

.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

.round:hover .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow.primera {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}



